apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 2000
        fsGroup: 3000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: nginx
          image: nginx:mainline-alpine3.20
          ports:
            - containerPort: 80
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: tmp-volume
              mountPath: /var/run/
            - name: tmp-volume
              mountPath: /var/cache/nginx/
            - name: nginx-volume
              mountPath: /usr/share/nginx/html
      volumes:
        - name: tmp-volume
          emptyDir: {}
        - name: nginx-volume
          configMap:
            name: nginx-index-page